<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Prediction Result</title>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    .container {
        margin-top: 100px;
    }
    .prediction {
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
    }
    .result-line {
        border-top: 1px solid #ccc;
        margin-top: 20px;
        padding-top: 20px;
    }
</style>
<script>
    // Function to format prediction value to have 2 decimal points
    window.onload = function() {
        var predictionElement = document.getElementById('prediction');
        if (predictionElement !== null) {
            var predictionValue = parseFloat(predictionElement.textContent);
            predictionElement.textContent = predictionValue.toFixed(2);
        }
    };
    </script>
</head>
<body>
    <div class="container">
        <h1>Here is your predicted value</h1>
        <div id="prediction" style="font-size:45px;font-weight: bold;">{{ prediction[0][0] }}</div>
</body>
</html>
